.vuepress-flowchart {
    overflow: hidden;
}

.vuepress-flowchart .1-element {
    display: none;
}

h1 {
    color: #990066;
}

h2, h3, h4, h5, h6 {
    color: #219a93;
}

.downloadtools {
    width: 200px;
}

.severe {
    color: #EB3225;
}

.moderate {
    color: #F08633;
}

.mild {
    color: #3D8268;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.home .hero .action-button {
    background-color: #990066;
    border-bottom: 1px solid #990066;
}

.home .features {
    border-top: 1px solid #eaecef;
    padding: 1.2rem 0;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
}

.home .feature {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;
}
