@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&family=Fira+Mono&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github.min.css");

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
nav,
div,
header,
main,
footer {
  font-family: "Fira Sans", sans-serif;
}

body {
  margin: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

html {
  background: #eee;
}

pre,
code {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  font-family: "Fira Mono", monospace !important;
}

code {
  font-family: "Fira Code", monospace !important;
}

h3,
h4,
h5,
h6 {
  color: #666;
}

h1:first-child {
  margin-top: 0;
}

p:last-child,
pre:last-child {
  margin-bottom: 0;
}

hr {
  margin: 1rem 0;
}

header,
main,
footer {
  max-width: 50vw;
  margin: auto;
}

@media only screen and (max-device-width: 1400px) {
  header,
  main,
  footer {
    max-width: 75vw;
  }
}

main {
  background: #fff;
  padding: 2rem;
  text-align: justify;
  box-shadow: 0.25rem 0.25rem 0.25rem #ddd;
}

header,
footer {
  padding: 2rem 0;
}

header nav {
  display: flex;
  justify-content: space-evenly;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

love::after {
  content: "❤";
  color: red;
  -webkit-text-stroke-width: thick;
  -webkit-text-stroke-color: black;
}

table {
  width: 100%;
}

table tr:first-child {
  background: #333;
  color: white;
}

table tr:nth-child(2n + 3) {
  background: #ddd;
}

form {
  width: 100%;
}

form label,
form input {
  display: block;
  margin-bottom: 1rem;
}

form label,
form input[type="submit"] {
  font-weight: bold;
}

form input[type="submit"] {
  background: #333;
  color: white;
  border: none;
  padding: 0.75rem;
  text-decoration: none;
  cursor: pointer;
}
